:root {
    --font-family:'Kumbh Sans', sans-serif;
    --font-familyTwo:'Overpass', sans-serif;
}

body{
    padding: 0%;
    margin: 0%;
}
.fixed{
    position: fixed;
}

/* NAVIGATION BAR */
.navigation{
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    padding-bottom:20px ;
}
.mainLogo{
    margin: 10px 0 0 0;
    width: 50%;
    height: auto;
    cursor: pointer;
}


.mobileMenu{
    display: block;
    position: absolute;
    right: 0;
    margin: 10px 10px 0 0 ;
    cursor: pointer;
}



 
.bar{
    background-color:#171A21 ;
    display: block;
    width: 35px;
    height:5px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
 }



.active .bar:nth-child(2){
    opacity: 0;
}
.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
    background-color: #171A21;
}
.active .bar:nth-child(3){
    transform: translateY(-12px) rotate(-45deg);
    background-color: #171A21;

}



.ulList{
    font-size: 23px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 30px;
    background-color: white;
    text-align: left;
    top: 45px;
    width: 100%;
    height: 100%;
    transition: 0.7s;
    right: 610px;
    position: absolute;
}
.active{
    right:0;    
    transition: 0.7s;
}
.ulList li{
    list-style-type: none;
    padding: 0 0 0 30px;

}

.ulList li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.ulList li a:hover{
    color:  #0015d6;
}



/* article */

.article-Image{
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: 0.7s ease-in-out;
    overflow: hidden;
    color: #FFFFFF;
}

.article-Image:hover{
    transform: scale(1.01);
}
.articleOne{
    margin: 50px 0 0 0;
}
.articlesLink{
    text-decoration: none;
}

.title{
    font-size: 30px;
    font-weight: 100;
    margin: 0 0 0 10px;
    cursor: pointer;
    transition: 0.2s;
    color: #171A21;

}

.title:hover{
  transform: scale(1.01);
}


.minRead{
    margin: 0;
    color: #171A21;
    text-align: right;
}

.article-Image{
    width: 100%;
    height: 300PX;
}
.side-Articles{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.ulListDesktop{
    display: none;
}

.author-name{
    display: none;
}
.date{
    display: none;
}



























/* FOOTER */

.contactInfo{
    border: 1px solid #171A21;
    background-color: #171A21;
    position: relative;
    margin-top: 50px;
    padding-top: 20px;
    font-family: var(--font-familyTwo);
}
.contactInfoTwo img{
    width: 30%;
    height: auto;
    
}
.terms {
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.terms a{
    color: #EEFBF5;
    text-decoration: none;

}
.social{
    display: flex;
    flex-direction: row;
    width: 45%;
    margin: 20px auto 0 auto;
    justify-content: center;
    gap: 15px;

}
.social img{
    border: 1px solid white;
    background-color: #EEFBF5;
    border-radius: 5px;
    width: 30%;
    padding: 4px;
    height: auto;
    cursor: pointer;
}
  .copyright{
    color: rgb(194, 192, 192);
    bottom: 0px;
    font-size: 9px;
    text-align: center;
}




@media only screen and (min-width: 600px) {
     .mainLogo{
        width: 18%;
        margin: 10px 100% 0 30px;
     }
     .title{
        font-size: 15px;
        font-weight: 600;
        font-family: var(--font-familyTwo);
    }
     .mobileMenu{
        display: none;
     }
    
     .ulList{
        display: none;
     }
     .ulListDesktop{
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 100px;
        font-family: var(--font-familyTwo);
    }
   
    .ulListDesktop a{
        color: #171A21;
        text-decoration: none;
        font-size: 25px;
    }
    .ulListDesktop a:hover{
        color:  #0015d6;
        text-decoration: none;
        font-size: 25px;
    }
     .ulListDesktop li{
        list-style-type: none;
     }
     .hr2{
        background-color: #171A21;
        padding: 1px;
        margin: 0 10% 0 10%;

    }
     .article-Image{
        width: 100%;
        height: auto;
     }
     .container{
        display: grid;
        grid-template-columns:1fr 1fr;
        margin:40px;
        gap: 30px;

    }
    .articleOne{
        margin:0;
    }
   
     .main-ArticleImg{
        border-radius: 5px ;
     }
  
    .articleDisc{

    }
    .minRead{
        display: none;
    } 
   
   
  
  
    .author-name{
        font-family: var(--font-familyTwo);
        font-size: 10px;
        margin: 0 0 0 10px;
    }
    .date{
        font-family: var(--font-familyTwo);
        font-size: 10px;
        margin: 0 0 0 10px;
    }
    .side-title{
        font-size: 15px;
        font-family: var(--font-familyTwo);
        font-weight: 600;
    }
    .side-Articles{
        grid-template-columns: 1fr 1fr 1fr 1fr;
     }

  }
  @media only screen and (min-width: 800px) {
    .main-Articles{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin:0 50px;
    }
    .title{
        font-size: 19px;
        font-weight: 600;
        font-family: var(--font-familyTwo);
    }
    .side-title{
        font-family: var(--font-familyTwo);

    }

    .side-Articles{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
     }
 
  
    .author-name{
        display: block;
    }
    .date{
        display: block;
    }


    /* FOOTER */

.contactInfo{
    background-color: #171A21;
    position: relative;
    margin-top: 50px;
    padding-top: 20px;
    font-family: var(--font-familyTwo);
}
.contactInfoTwo img{
    width: 30%;
}

.social{
    width: 20%;
}
}

@media only screen and (min-width: 1200px) {
    .main-Articles{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin:0 200px;
    }
    .title{
        font-size: 29px;
        font-weight: 600;
        font-family: var(--font-familyTwo);
    }
    .side-title{
        font-size: 20px;
        font-family: var(--font-familyTwo);
    }
   .side-Articles{
    margin: 0 40px;
    
   }
     /* FOOTER */

     .contactInfo{
        background-color: #171A21;
        position: relative;
        margin-top: 50px;
        padding-top: 20px;
        font-family: var(--font-familyTwo);
    }
    .contactInfoTwo img{
        width: 15%;
    }
    
    .social{
        width: 10%;
    }
}