:root {
    --font-family:'Kumbh Sans', sans-serif;
    --font-familyTwo:'Overpass', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
  }  
  
/* MAIN IMG */
.aboutBody{
    margin-top: 70px;
    width: auto;
    height: 100vh;
}
.aboutBodyDark{
    background-color: #1E1E23;
    margin-top: 70px;
    width: auto;
    height: 100vh;
}
.about-HeaderDark{
    color: white;

}
.about-HeaderDark h1{
    color: white;
    margin-top: 0;
}
.about-HeaderDark h2{
    color: white;
}
.about-HeaderDark {
    color: white;

}
.about-usImg{
    width: 100%;
    height: auto;

}

.about-Header{
    text-align: center;
}
h1{
    font-family: var(--font-familyTwo);
    color:#171A21;
    text-align: center;
    font-size: 50px;

}
h2{
    font-family: var(--font-familyTwo);
    font-size: 25px;
    color:#171A21;
    text-align: center;
}

p{
    text-align: center;
    margin: 0px 50px;
    padding: 20px;
    font-family: var(--font-family);
}


/* Links */
.socialTwo{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 20px auto 0 auto;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}
.socialTwoDark{
    background-color: #242124;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;

}
.socialTwoDark img{
    background-color: #242124;
    border-radius: 5px;
    width: 60%;
    padding: 14px;
    height: auto;
    cursor: pointer;

}

.socialTwo img{
    background-color: #EEFBF5;
    border-radius: 5px;
    width: 60%;
    padding: 14px;
    height: auto;
    cursor: pointer;

}

#icon-Img1{
    border: 2px solid 
    #6200ea;
    border-radius: 100%;
}
#icon-Img2{
    border: 2px solid #03a9f4;
    border-radius: 100%;
   
}

#icon-Img3{
    border: 2px solid #000000;
    border-radius: 100%;
   
}
#icon-Img4{
    border: 2px solid #0288d1;
    border-radius: 100%;
}

@media screen and (min-width: 880px){
    .about-Header{
        font-size:14px;
        width: 50%;
        margin: 0px auto 90px auto;
        padding-top: 20px;
    }
    .about-HeaderDark{
        font-size:14px;
        width: 50%;
        margin: 0px auto 90px auto;
        padding-top: 20px;

    }
    .socialTwo{
        max-width:240px;
    }
    .socialTwoDark{
        max-width:240px;
    }
}





























