:root {
    --font-family:'Kumbh Sans', sans-serif;
    --font-familyTwo:'Overpass', sans-serif;
}

body{
    padding: 0%;
    margin: 0%;
}
.fixed{
    position: fixed;
}

/* NAVIGATION BAR */
.navigation{
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    padding-bottom:20px ;
}
.mainLogo{
    margin: 10px 0 0 0;
    width: 80%;
    height: auto;
    cursor: pointer;
}


.mobileMenu{
    display: block;
    position: absolute;
    right: 0;
    margin: 10px 10px 0 0 ;
    cursor: pointer;
}



 
.bar{
    background-color:#171A21 ;
    display: block;
    width: 35px;
    height:5px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
 }



.active .bar:nth-child(2){
    opacity: 0;
}
.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
    background-color: #171A21;
}
.active .bar:nth-child(3){
    transform: translateY(-12px) rotate(-45deg);
    background-color: #171A21;

}



.ulList{
    font-size: 23px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 30px;
    background-color: #171A21;
    text-align: left;
    top: 37px;
    width: 100%;
    height: 100%;
    transition: 0.7s;
    right: 510px;
    position: absolute;
}
.active{
    right:0;    
    transition: 0.7s;
}
.ulList li{
    list-style-type: none;
    padding: 0 0 0 30px;

}

.ulList li a{
    text-decoration: none;
    color:#0015d6;
    font-weight: bold;
}
.ulList li a:hover{
    color:  #EEFBF5;
}




hr {
    background:#EEFBF5 ;
    height: 1px;
    border: 0px;

}
.languageBtn{
    cursor: pointer;
    color: #EEFBF5;
    text-align: center;
    margin-top: 220px;

}
.socialLink{
    display: flex;
    width: 30%;
    justify-content: center;
    margin: 0 auto 0 auto;

}
.socialLink img{
    cursor: pointer;
    border: 1px solid #EEFBF5;
    border-radius: 10%;
    background-color: #EEFBF5;
    padding: 4px;
    width: 40%;
}

/* ARTICLE IMG */
.articleTitle{
    font-family: var(--font-family);
    color: #171A21;
    font-size: 30px;
    text-align: left;
    margin-left: 10px;
}
.articleTitle:hover{
    color:#0015d6;
}
.articleOne a{
    text-decoration: none;
}

.article-Image{
    width: 100%;
    height: auto;
}
.imgLink{
    margin: 0 0 30px 0;
    color: blue;
}

.author-Image{
    margin: 10px 0 0 10px;
    height: auto;
    width: 5%;
    border-radius: 1px;
}
.author-name{
    font-family: var(--font-family);
    margin: 0 0 0 10px;
    font-size: 10px;
    font-weight: 100;
}
.date{
    font-family: var(--font-family);
    font-weight: 100;
    margin-left: 10px;
    margin: 0 0 0 10px;
    font-size: 10px;
}
.article-Text{
    margin: 50px 0 0 10px;

}

.subT{
    font-family: var(--font-familyTwo);
    font-size: 30px;
    margin: 50px 0 10px 10px;
    color: #171A21;
    text-align: center;
    font-weight: 100;
}
.article-Text{
    font-family: var(--font-familyTwo);
    margin: 10px 0 0 10px;
    text-align: left;
}







/* FOOTER */

.contactInfo{
    background-color: #171A21;
    position: relative;
    margin-top: 50px;
    padding-top: 20px;
    font-family: var(--font-familyTwo);
}
.contactInfoTwo img{
    width: 50%;
    height: auto;
    
}
.terms {
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.terms a{
    color: #EEFBF5;
    text-decoration: none;

}
.social{
    display: flex;
    flex-direction: row;
    width: 45%;
    margin: 20px auto 0 auto;
    justify-content: center;
    gap: 15px;

}
.social img{
    border: 1px solid white;
    background-color: #EEFBF5;
    border-radius: 5px;
    width: 30%;
    padding: 4px;
    height: auto;
    cursor: pointer;
}
  .copyright{
    color: rgb(194, 192, 192);
    bottom: 0px;
    font-size: 9px;
    text-align: center;
}